<% if account_signed_in? %>
    <div class="float-right">
        <%= link_to "Create New Course", new_course_path, class: "btn btn-outline-primary"%>
    </div>
<% end %>

<% if @courses.size > 0 %>
    <% @courses.each do |course|%>
        </div class="card">
            <h3><%= link_to course.name, course %></h3>
            <%# simple_format course.rules %>
        </div>
    <% end%>
<% else %>
    <p> No courses to display. </p>
<% end %>