<div class="row">
    <div class="col-sm-8 p-3">
        <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>

    <div class="col-sm-4 p-3">
        <p class="h4"><%= @profile.full_name%></p>
        <%= @profile.utorid%>
        <p> Short bio about my life, how many years I've been at this establishment, what I plan on doing </p>
        <p>Account created: <%= @profile.created_at.strftime("%d/%M/%Y") %></p>
    </div>
</div>